.blackjack-card {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
}

.align-center {
  text-align: center;
}

.actions-container {
  padding: 20px;
}

.blackjack-game {
  display: flex;
  padding: 50px;
}

.interface {
  padding: 20px;
  flex: 1;
}
